{% load i18n %}{% autoescape off %}
{% blocktranslate %}Salam,

Bu e-poçtu {{ email }} ünvanı üçün şifrə sıfırlama tələbi aldığımız üçün alırsınız.{% endblocktranslate %}

{% translate "Şifrənizi sıfırlamaq üçün aşağıdakı linkə daxil olun:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'school:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Əgər bu tələbi siz göndərməmisinizsə, bu e-poçtu nəzərə almayın." %}

{% translate "Hörmətlə," %}
{% blocktranslate %}{{ site_name }} komandası{% endblocktranslate %}

{% endautoescape %}
