{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{% trans "Parol Sıfırlama Linki Göndərildi" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">{% trans "Parol Sıfırlama Linki Göndərildi" %}</h4>
                </div>
                <div class="card-body">
                    <p>{% trans "Parolunuzu sıfırlamaq üçün təlimatlar e-poçt ünvanınıza göndərildi. Əgər e-poçt almamısınızsa, zəhmət olmasa spam qovluğunu yoxlayın." %}</p>
                    <a href="{% url 'school:login' %}" class="btn btn-primary">{% trans "Giriş Səhifəsinə Qayıt" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
