{% load i18n %}{% autoescape off %}
{% blocktrans %}Salam,

Siz bu e-poçt ünvanı üçün parol sıfırlama tələbi göndərmisiniz. Parolunuzu sıfırlamaq üçün aşağıdakı linkə klik edin:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'school:password_reset_confirm' uidb64=uid token=token %}

{% trans "E-poçt ünvanınız:" %} {{ user.get_username }}

{% trans "Əgər bu tələbi siz göndərməmisinizsə, bu e-poçtu nəzərə almayın." %}

{% blocktrans %}Hörmətlə,
MİS Komandası{% endblocktrans %}
{% endautoescape %}
